/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a8012a; /* Washed out red */
    color: #d77432; /* Soft gold */
    font-size: 1rem;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aa0c2d;
    padding: 20px 80px 10px 30px;
    flex-wrap: wrap;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo-img {
    width: 200px;
    height: auto;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-links ul li {
    display: inline;
}

.nav-links ul li a {
    text-decoration: none;
    color: #d77432;
    font-weight: bold;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

/* Social media icon styles */
.social-logo {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

.nav-links ul li a img {
    display: block;
}

/* Main content styles */
main {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 2.2rem;
}

/* Centered image styles */
.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: -10px;
}

.center-image {
    width: 100%;
    max-width: 900px;
    height: auto;
}

/* Accordion styles */
.accordion {
    background-color: #d77432;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
    display: none; /* Hide accordion by default */
}

.accordion.active, .accordion:hover {
    background-color: #d15f2a;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* Responsive design */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide regular navigation on small screens */
    }

    .accordion {
        display: block; /* Show accordion on small screens */
    }

    .logo-img {
        width: 150px;
    }

    .center-image {
        width: 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.8rem;
    }

    .social-logo {
        width: 22px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }

    .nav-links ul {
        gap: 5px;
    }

    .center-image {
        width: 90%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    .social-logo {
        width: 20px;
    }
}
